<h1>User Sign in</h1>

<form action="/users/create-session" method="POSt">
	<input type="email" name="email" required placeholder="Enter Email">
	<input type="password" name="password" required placeholder="Enter Password">
	<input type="submit" value="login">
</form>